.container {
  position: relative;
  color: var(--color-600);
  background: var(--color-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: calc(var(--pixel-size) * 2);
  width: 100%;
  height: 100%;
}

.country {
  display: flex;
  flex-direction: column;
  width: calc(var(--pixel-size) * 100);
  gap: calc(var(--pixel-size) * 2);
}

.countryName {}

.countryFlag {
  aspect-ratio: 3 / 2;
  width: calc(var(--pixel-size) * 70);
  background-color: var(--color-300);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: calc(var(--pixel-size) * 2);
  gap: calc(var(--pixel-size) * 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderInput {
  width: 100%;
  appearance: none;
  height: calc(var(--pixel-size) * 20);
}

.sliderControl {
  top: 0;
  left: 0;
  background-color: var(--color-200);
  height: calc(var(--pixel-size) * 20);
}

.sliderIndicator {
}