.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/13;
  grid-row: 1/13;
}

.text {
  color: var(--color-200);
  font-size: calc(var(--pixel-size) * 8);
  z-index: 1;
}

.bouncer {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;

  --saverwidth: calc(var(--pixel-size) * 1650);
  --saverheight: calc(var(--pixel-size) * 67);
  background: url('/sprites/stripe-logo-2.png');
  background-size: calc(var(--pixel-size) * 1650) var(--saverheight);
  height: var(--saverheight);
  width:  calc(var(--pixel-size) * 150);
  background-repeat: no-repeat;
  animation: spritesheet 3s steps(11) infinite forwards;
}

.blinker {
  height: calc(var(--pixel-size) * 8);
  width: calc(var(--pixel-size) * 5);
  display: inline-block;
  background-color: var(--color-200);
  animation: blink 1s steps(1) infinite forwards;
}

@keyframes spritesheet {
  0% {background-position: 0 0;}
  30% {background-position: 0 0;}
  100% {background-position: calc(var(--pixel-size) * -1650) 0;}
}

@keyframes blink {
  0% {background-color: var(--color-200);} 
  50% {background-color: transparent; } 
}