.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/13;
  grid-row: 1/13;
}

.text {
  color: var(--color-200);
  font-size: calc(var(--pixel-size) * 16);
  z-index: 1;
}

.bouncer {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  color: var(--color-200);
  font-size: calc(var(--pixel-size) * 32);
  letter-spacing: -6px;
}