.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-image: url('/sprites/textures/texture-1.png');
  background-repeat: repeat;
  background-size: calc(var(--pixel-size) * 2);
}

.textContainer {
  z-index: 1;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-family: var(--font-dogica);
  font-size: calc(var(--pixel-size) * 32);
  color: var(--color-100);
  text-transform: uppercase;
  letter-spacing: calc(var(--pixel-size) * -4);
  line-height: 1.2;
  z-index: 1;
}

.lightningtext {
  font-size: calc(var(--pixel-size) * 16);
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: calc(var(--pixel-size) * 4);
  gap: calc(var(--pixel-size) * 4);
  background: var(--color-200);
  width: 100%;
}

.block {
  flex-grow: 1;
  height: 100%;
  background-image: url("/sprites/textures/texture-7.png");
  background-size: calc(var(--pixel-size) * 2);
}

@media (max-height: 720px) or (max-width: 810px) {
  .map{
    height: 90%;
    width: 90%;
    object-fit: contain;
  }
}