.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: calc(var(--pixel-size) * 2);
}

.grid {
  height: min(700px);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: auto 380px 380px auto;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas:
    ". scor scor ."
    ". item item ."
    ". covn covn ."
    ". butn butn .";
  width: 100%;
  gap: calc(var(--pixel-size) * 2);
}

.itemDisplay {
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixel-size) * 4);
}

.itemDisplayImage {
  border: calc(var(--pixel-size) * 2) solid var(--color-500);
  background-color: var(--color-300);
  aspect-ratio: 1/1;
  height: 120px;
}

.itemDisplayData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}

.itemDisplayText {
  color: var(--color-500);
}

.itemDisplayPrice {
  font-size: 40px;
}

.conversionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conversionPrice {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conversionRight,
.conversionLeft {
  width: auto;
}

.conversionCenter {
  color: var(--color-500)
}

.sliderContainer {
  position: relative;
  color: var(--color-600);
  background: var(--color-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--pixel-size) * 40);
}

.sliderWrapper {
  position: relative;
  width: 100%;
  padding: calc(var(--pixel-size) * 2);
  background-color: var(--color-200);
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.sliderWrapper:active {
  cursor: grabbing;
}

.sliderControl {
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  gap: calc(var(--pixel-size) * 4);
  align-items: center;
}

.sliderIndicator {
  position: absolute;
  transform: translateX(50%);
  top: 0;
  left: calc(50% - var(--pixel-size));
  height: 100%;
  width: calc(var(--pixel-size) * 2);
  background-color: var(--color-600);
  pointer-events: none;
}

.sliderNotch {
  height: calc(var(--pixel-size) * 6);
  width: calc(var(--pixel-size) * 2);
  background-color: var(--color-500);
  flex-shrink: 0;
  pointer-events: none;
}

.sliderNotch:nth-of-type(5n + 1) {
  height: calc(var(--pixel-size) * 12);
}

.sliderNotch:nth-of-type(10n + 1) {
  height: calc(var(--pixel-size) * 24);
}

.sliderNotch:last-of-type,
.sliderNotch:first-of-type {
  height: 100%;
}

.deciderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: calc(var(--pixel-size) * 2);
  justify-content: space-around;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;

  flex-grow: 1;

  flex-basis: 40%;
  height: 100%;
  width: 100%;
  max-width: 400px;


  font-family: var(--font-silkscreen);
  text-transform: uppercase;
  font-size: calc(var(--pixel-size) * 12);
  padding: calc(var(--pixel-size) * 2);

  background-color: var(--color-600);
  border: calc(var(--pixel-size) * 2) solid var(--color-400);
  color: var(--color-100);
}

.timerContainer {
  width: 100%;
}

.timerProgress {
  width: 100%;
  height: 20px;
  display: block;
  appearance: none;
}

.timerProgress::-webkit-progress-bar {
  background-color: var(--color-300);
}

.timerProgress::-webkit-progress-value {
  background-color: var(--color-600);
}
