.wallpaper {
  position: absolute;
  top: calc(var(--pixel-size)* 38);
  left: calc(var(--pixel-size)* 38);
  width: calc(var(--pixel-size) * 460);
  height: calc(var(--pixel-size)* 358);
  background-image: url('/sprites/textures/texture-8.png');
  background-size: calc(var(--pixel-size) * 5);
  background-position: var(--pixel-size);
  background-repeat: round;
  z-index: 1;

  cursor: url("/sprites/cursor.png"), auto;
}