.container {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  height: 100dvh;
  width: 100dvw;
}
  
.text {
  width: auto;
  height: auto;
  background-color: var(--color-100);
  color: var(--color-600);
  position: absolute;
  padding: calc(var(--pixel-size) * 2);
}