.scoreListContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.scoreListToolbar {
  border-bottom: var(--pixel-size) solid var(--color-100);
  padding: calc(var(--pixel-size) * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--pixel-size) * 4);
}

.scoreListButton {
  user-select: none;
  aspect-ratio: 1;
  height: calc(var(--pixel-size) * 16);
}

.scoreListButton:active {
  transform: translateY(var(--pixel-size));
}

.scoreListDivider {
  height: calc(var(--pixel-size) * 14);
}

.scoreListContents {
  height: 100%;
  padding: 0 calc(var(--pixel-size) * 4);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.scoreListContents::-webkit-scrollbar {
  width: calc(var(--pixel-size) * 9);
  background: var(--color-100);
}

.scoreListContents::-webkit-scrollbar-thumb {
  border-image-source: url("/sprites/scrollbar-thumb.png");
  border-image-slice: 5 0 fill;
  border-image-width: calc(var(--pixel-size) * 5) 0;
  border-image-repeat: repeat;
}

.scoreListContents::-webkit-scrollbar-button {
  display: block;
  width: calc(var(--pixel-size) * 9);
  height: calc(var(--pixel-size) * 7);
}

.scoreListContents::-webkit-scrollbar-button:decrement {
  background: url("/sprites/scrollbar-button-up.png");
  background-size: calc(var(--pixel-size) * 9) calc(var(--pixel-size) * 7);
  background-repeat: no-repeat;
}

.scoreListContents::-webkit-scrollbar-button:increment {
  background: url("/sprites/scrollbar-button-down.png");
  background-size: calc(var(--pixel-size) * 9) calc(var(--pixel-size) * 7);
}