.scoreFrame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--pixel-size) * 16);
}

.scoreFrameContainer {
  padding: 0 calc(var(--pixel-size) * 4);
}

.scoreFrameTable {
  border-collapse: separate;
  border-spacing: 0 var(--pixel-size);
  width: 100%;
  padding: calc(var(--pixel-size) * 4) 0;
  border-bottom: var(--pixel-size) dotted var(--color-100);
}

.scoreFrameTable :global(td) {
  padding: 0 calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 1) 0;
}

.scoreFrameScoreContainer {
  padding-top: calc(var(--pixel-size) * 8);
  display: flex;
  flex-direction: column;
  gap: calc(var(--pixel-size) * 8);
}

.numberContainer {
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixel-size) * 4);
}

.number {
  display: flex;
  flex-direction: row;
  font-size: calc(var(--pixel-size) * 16);
}

.numberSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-300);
  height: calc(var(--pixel-size) * 26);
  width: calc(var(--pixel-size) * 24);
  border: calc(var(--pixel-size) * 2) solid var(--color-300);
}

.scoreFrameImage {
  width: calc(var(--pixel-size) * 180);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blurb {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 4);
  flex-grow: 1;
  border-top: var(--pixel-size) dotted var(--color-100);
}

.blurb :global(p) {
  line-height: 1.2;
}

.blurb :global(a) {
  color: var(--color-300);
}

.shareButton {
  --button-color: var(--color-100);
  --button-background: var(--color-200);
  margin-bottom: calc(var(--pixel-size) * 4);
}