.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: calc(var(--pixel-size) * 2);
}

.grid {
  height: min(700px);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: auto 380px 380px auto;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas:
    ". scor scor ."
    ". budt item ."
    ". covn covn ."
    ". butn butn .";
  width: 100%;
  gap: calc(var(--pixel-size) * 2);
}