.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: calc(var(--pixel-size) * 2);
}

.grid {
  height: min(700px);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". scor scor ."
    ". item budt ."
    ". covn covn ."
    ". butn butn .";
  width: 100%;
  gap: calc(var(--pixel-size) * 2);
}