.timerContainer {
  padding: var(--pixel-size) calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 3);
  width: 100%;
  background-repeat: repeat;
  position: relative;
}

.timerBackground {
  position: absolute;
  inset: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 4);
  background-image: url('/sprites/textures/texture-3.png');
  background-size: calc(var(--pixel-size) * 2);
  z-index: 0;
}

.timerNumber {
  position: absolute;
  top: calc(var(--pixel-size) * 8);
  left: calc(var(--pixel-size) * 8);
  color: var(--color-200);
}

.timerNumberTop {
  position: absolute;
  top: calc(var(--pixel-size) * 9);
  left: calc(var(--pixel-size) * 11);
  color: var(--color-100);
}

.timerProgress {
  width: 100%;
  height: calc(var(--pixel-size) * 24);
  display: block;
  background-color: var(--color-100);
  transform-origin: left center;
  overflow: hidden;
  position: relative;
}