.main {
  --pixel-size: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  font-family: var(--font-dogica);
  font-size: calc(var(--pixel-size) * 8);
  letter-spacing: 0;
  line-height: 1;
  user-select: none; /* Standard syntax */
  background-color: var(--color-100);
}

.grid {
  height: min(700px);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  gap: calc(var(--pixel-size) * 4);
}

.itemDisplay {
  display: flex;
  flex-direction: row;
  gap: calc(var(--pixel-size) * 4);
  padding: calc(var(--pixel-size) * 6) calc(var(--pixel-size) * 8);
}

.itemDisplayImage {
  border-image-source: url("/sprites/simple-frame.png");
  border-image-slice: 1;
  border-image-width: calc(var(--pixel-size) * 1);
  border-image-repeat: round;
  background-color: var(--color-100);
  aspect-ratio: 1/1;
  height: calc(var(--pixel-size) * 44);
}

.itemDisplayData {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  gap: calc(var(--pixel-size) * 6);
}

.itemDisplayData:global(.button) {
  margin-top: 100px;
}

.itemDisplayPrice {
  font-size: calc(var(--pixel-size) * 16);
}

.itemDisplayButton {
  flex-grow: 1;
}

.conversionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--pixel-size) * 8) calc(var(--pixel-size) * 8);
}

.conversionCountry {
  color: var(--color-100);
}

.conversionPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--pixel-size) * 24);
  font-size: calc(var(--pixel-size) * 16);
}

.sliderContainer {
  position: relative;
  color: var(--color-100);
  background: var(--color-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--pixel-size) * 26);
  padding: calc(var(--pixel-size) * 2);

  border-image-source: url("/sprites/simple-frame.png");
  border-image-slice: 3;
  border-image-width: calc(var(--pixel-size) * 3);
  border-image-repeat: round;
}

.sliderWrapper {
  position: relative;
  width: 100%;
  background-color: var(--color-100);
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.sliderWrapper:active {
  cursor: grabbing;
}

.sliderControl {
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  gap: calc(var(--pixel-size) * 4);
  align-items: center;
}

.sliderIndicator {
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(50% - var(--pixel-size));
  width: calc(var(--pixel-size) * 7);
  border-right: calc(var(--pixel-size) * 2) solid var(--color-300);
  border-left: calc(var(--pixel-size) * 2) solid var(--color-300);
  transform: translateX(calc(var(--pixel-size) * -2));
  pointer-events: none;
}

.sliderNotch {
  height: calc(var(--pixel-size) * 6);
  width: var(--pixel-size);
  background-color: var(--color-200);
  flex-shrink: 0;
  pointer-events: none;
}

.sliderNotch:nth-of-type(5n + 1) {
  height: calc(var(--pixel-size) * 12);
}

.sliderNotch:nth-of-type(10n + 1) {
  height: calc(var(--pixel-size) * 24);
}

.sliderNotch:last-of-type,
.sliderNotch:first-of-type {
  height: 100%;
}

.deciderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: calc(var(--pixel-size) * 2);
  justify-content: space-around;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;

  flex-grow: 1;

  flex-basis: 40%;
  height: 100%;
  width: 100%;
  max-width: 400px;

  font-family: var(--font-dot-gothic);
  text-transform: uppercase;
  font-size: 24px;
  padding: calc(var(--pixel-size) * 2);

  background-color: var(--color-600);
  border: none;
  color: var(--color-100);
  cursor: pointer;
}

.timerContainer {
  width: 100%;
}

.timerProgress {
  width: 100%;
  height: 20px;
  display: block;
  appearance: none;
}

.timerProgress::-webkit-progress-bar {
  background-color: var(--color-300);
}

.timerProgress::-webkit-progress-value {
  background-color: var(--color-600);
}
