.main {
  --pixel-size: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  font-family: var(--font-dogica);
  font-size: calc(var(--pixel-size) * 8);
  letter-spacing: calc(var(--pixel-size) * -1);
  line-height: 1;
  user-select: none; /* Standard syntax */
  background-color: var(--color-100);
}

.grid {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
  gap: calc(var(--pixel-size) * 4);
}



.travelMap {
  padding: 0 calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 3);
  height: 100%;
  width: 100%;
}

.travelMapContainer {
  height: 100%;
  width: 100%;
  background: var(--color-100);
}

.travelMapImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
