.background {
  height: calc(var(--pixel-size) * 720);
  width: calc(var(--pixel-size) * 1500);
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - var(--pixel-size) * 18));
  position: absolute;
  object-fit: contain;
}