.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url("/sprites/background.png");
  background-repeat: no-repeat;
  background-size: calc(var(--pixel-size) * 1200) calc(var(--pixel-size) * 720);
  background-position: center calc(50% - var(--pixel-size) * 20);
}
