* {
  box-sizing: border-box;
}

:root {
  --pixel-size: 3px;

  --color-100: #2a173b;
  --color-200: #3f2c5f;
  --color-300: #443f7b;
  --color-400: #4c5c87;
  --color-500: #69809e;
  --color-600: #94c5ac;

  color: var(--color-600);
  font-size: calc(var(--pixel-size) * 8.3);
  letter-spacing: calc(var(--pixel-size) * -.95);
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-100);
}

.price {
  letter-spacing: calc(var(--pixel-size) * 1.05);
  font-size: calc(var(--pixel-size) * 10);
  color: var(--color-600);
  display: block;
  border: calc(var(--pixel-size) * 2) solid var(--color-600);
  padding: calc(var(--pixel-size) * 2);
  background-color: var(--color-300);
}

a {
  color: inherit;
  text-decoration: none;
}