.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  height: 100dvh;
  width: 100dvw;
}

.grid {
  position: relative;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  width: 100%;
  gap: calc(var(--pixel-size) * 4);
}

@media (max-height: 720px) or (max-width: 810px) {
  .grid {
    max-width: calc(100vw - 10px);
    grid-template-rows: 1fr 1fr 1fr 1.2fr 1fr 0.8fr 1fr 1fr 1fr 1fr 1.2fr 1fr;
  }

  .main {
    overflow: visible;
  }
}
