.button {
  width: auto;
  height: auto;

  border-image-source: url("/sprites/border.png");
  border-image-slice: 1;
  border-image-width: calc(var(--pixel-size) * 1);
  border-image-outset: calc(var(--pixel-size) * 1);
  border-image-repeat: repeat;

  appearance: none;
  font-size: calc(var(--pixel-size) * 8);
  padding: calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 10);
  font-family: var(--font-dogica);
  background: var(--button-background, var(--color-300));
  color: var(--button-color, var(--color-200));
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.button:active {
  transform: translateY(var(--pixel-size));
}

.button:disabled {
  background: var(--color-200);
  color: var(--color-100);
}