.button {
  display: block;
  text-decoration: none;
  text-align: center;

  border-image-source: url("/sprites/border.png");
  border-image-slice: 1;
  border-image-width: calc(var(--pixel-size) * 1);
  border-image-outset: calc(var(--pixel-size) * 1);
  border-image-repeat: repeat;

  letter-spacing: calc(var(--pixel-size) * -0.5);
  appearance: none;
  font-size: calc(var(--pixel-size) * 8);
  padding: calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 10);
  font-family: var(--font-dogica);
  background: var(--button-background, var(--color-300));
  color: var(--button-color, var(--color-200));
  font-weight: 600;
  text-transform: uppercase;
  cursor: url("/sprites/cursor-pointer.png"), auto;

  width: 100%;
  height: auto;
}

.button:global(a) {
  color: var(--button-color, var(--color-200)) !important;
}

.button:active {
  transform: translateY(var(--pixel-size));
}

.button:disabled {
  background: var(--color-200);
  color: var(--color-100);
}

@media (max-height: 720px) or (max-width: 810px) {
  .button{
    padding: calc(var(--pixel-size) * 5) calc(var(--pixel-size) * 10);
  }
}