.container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: calc(var(--pixel-size) * 24);
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--pixel-size) * 5);
  width: calc(var(--pixel-size) * 140);
  z-index: 1;

  border-image-source: url("/sprites/view-slider.png");
  border-image-slice: 2 fill;
  border-image-width: calc(var(--pixel-size) * 2);
  border-image-repeat: repeat;
}

.control {
  display: block;
  width: calc(var(--pixel-size) * 47);
  height: calc(var(--pixel-size) * 15);
  cursor: grab;
}

.control:active {
  cursor: grabbing;
}

@media (max-width: 810px) {
  .container {
    display: flex;
  }
}