.container {
  --border-width-pixels: 6;

  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto calc(var(--pixel-size) * var(--border-width-pixels));
  grid-template-columns: calc(var(--pixel-size) * var(--border-width-pixels)) auto;
  grid-template-areas: 
    "left-b content"
    "corner bottom-b";
}