.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;

  flex-basis: 40%;
  height: 80px;

  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: calc(var(--pixel-size) * 1.05);
  font-size: calc(var(--pixel-size) * 10);
  padding: calc(var(--pixel-size) * 2);
}

.buy {
  background-color: var(--color-600);
  border: calc(var(--pixel-size) * 2) solid var(--color-600);
  color: var(--color-100);
}

.skip {
  background-color: var(--color-300);
  border: calc(var(--pixel-size) * 2) solid var(--color-300);
  color: var(--color-600);
}