.conversionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: calc(var(--pixel-size) * 4) calc(var(--pixel-size) * 3);
}

.conversionCountry {
  color: var(--color-100);
}

.conversionPrice {
  width: 100%;
  position: relative;
  height: calc(var(--pixel-size) * 24);
  font-size: calc(var(--pixel-size) * 16);
}

.conversionPriceHorizontal {
  display: none;
}

.left {
  position: absolute;
  left: 10%;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  position: absolute;
  right: 5%;
}

@media (max-height: 720px) or (max-width: 810px) {
  .conversionPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .conversionPriceHorizontal {
    display: block;
    font-size: calc(var(--pixel-size) * 16);
  }

  .left {
    position: relative;
    left: auto;
  }
  .right {
    display: none;
  }
  .center {
    display: none;
  }
}