.conversionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--pixel-size) * 8) calc(var(--pixel-size) * 8);
}

.conversionCountry {
  color: var(--color-100);
}

.conversionPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--pixel-size) * 24);
  font-size: calc(var(--pixel-size) * 16);
}
