.frame {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 100px;
}

.titlebar {
  color: var(--color-200);
  height: calc(var(--pixel-size) * 12);
  border-image-source: url('/sprites/frame-titlebar.png');
  border-image-slice: 1 10 fill;
  border-image-width: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 10);
  border-image-repeat: round;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: calc(var(--pixel-size) * 2) ;
}

.content {
  flex-grow: 1;
  border-image-source: url('/sprites/frame-contents.png');
  border-image-slice: 3 fill;
  border-image-width: calc(var(--pixel-size) * 3);
  border-image-repeat: round;

  position: relative;
}

.frame[data-type="note"] .content {
  border-image-source: url('/sprites/notes-frame-contents.png');
  border-image-slice: 3 3 7 fill;
  border-image-width: calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 3)calc(var(--pixel-size) * 7);
  padding: calc(var(--pixel-size) * 8);
}

.frame[data-type="note"] p {
  margin-top: 0;
  margin-bottom: calc(var(--pixel-size) * 8);
}

.frame:global(.starting-notes) {
  grid-column: 1 / span 5;
  grid-row: 7 / span 5;
}

.frame:global(.level-select-note) {
  grid-column: 9 / span 4;
  grid-row: 5 / span 7;
}

.frame:global(.map) {
  grid-column: 2 / span 8;
  grid-row: 1 / span 7;
}