.frame {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: calc(var(--pixel-size) * 20);
  height: auto;
  z-index: 1;
}

.titlebar {
  color: var(--color-200);
  height: calc(var(--pixel-size) * 13);
  border-image-source: url("/sprites/frame-titlebar.png");
  border-image-slice: 1 10 fill;
  border-image-width: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 10);
  border-image-repeat: round;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  text-transform: uppercase;
  padding-top: calc(var(--pixel-size) * 2);
}

.content {
  flex-grow: 1;
  border-image-source: url("/sprites/frame-contents.png");
  border-image-slice: 3 fill;
  border-image-width: calc(var(--pixel-size) * 3);
  border-image-repeat: round;
  padding: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 3);

  position: relative;
  overflow: hidden;
}

.frame[data-type="note"] .content {
  border-image-source: url("/sprites/notes-frame-contents.png");
  border-image-slice: 3 3 7 fill;
  border-image-width: calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 3) calc(var(--pixel-size) * 7);

  height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--pixel-size) * 8) calc(var(--pixel-size) * 8) calc(var(--pixel-size) * 12);
}

.frame[data-type="note"] p {
  margin-top: 0;
  margin-bottom: calc(var(--pixel-size) * 8);
}

.frame[data-type="simple"] .content {
  border-image-source: url("/sprites/simple-frame.png");
  border-image-slice: 3 fill;
  border-image-width: calc(var(--pixel-size) * 3);
  padding: calc(var(--pixel-size) * 3);
}

.frame[data-type="tutorial"] .content {
  border-image-source: url("/sprites/border.png");
  border-image-slice: 1 fill;
  border-image-width: calc(var(--pixel-size));
  background-color: var(--color-200);
  padding: calc(var(--pixel-size) * 1);
}

.frame:global(.starting-notes) {
  grid-column: 4 / span 6;
  grid-row: 3 / span 8;
}

.frame:global(.level-select-note) {
  grid-column: 8 / span 4;
  grid-row: 4 / span 7;
}

.frame:global(.map) {
  grid-column: 1 / span 7;
  grid-row: 6 / span 6;
}

.frame:global(.slider) {
  grid-column: 1 / span 12;
  grid-row: 7 / span 3;
}

.frame:global(.item-1) {
  grid-column: 1 / span 6;
  grid-row: 4 / span 3;
}

.frame:global(.item-2) {
  grid-column: 7 / span 6;
  grid-row: 4 / span 3;
}

.frame:global(.timer) {
  grid-column: 1 / span 12;
  grid-row: 10 / span 2;

  min-height: calc(var(--pixel-size) * 40);
  height: calc(var(--pixel-size) * 40);
}

.frame:global(.game-start) {
  grid-column: 3 / span 8;
  grid-row: 1 / span 12;
}

.frame:global(.game-finish) {
  grid-column: 3 / span 8;
  grid-row: 1 / span 11;
}

.frame:global(.round-finish) {
  grid-column: 3 / span 8;
  grid-row: 1 / span 12;
}

.frame:global(.progress-bar) {
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
}

.frame:global(.score-list) {
  grid-column: 1 / span 6;
  grid-row: 2 / span 10;
}

.frame:global(.score-frame) {
  grid-column: 7 / span 5;
  grid-row: 1 / span 12;
}

.frame:global(.logo) {
  grid-column: 2 / span 6;
  grid-row: 2 / span 6;
}

.frame:global(.tutorial-0) {
  grid-column: 2 / span 4;
  grid-row: 7 / span 3;
}

.frame:global(.tutorial-1) {
  grid-column: 7 / span 5;
  grid-row: 7 / span 3;
}

.frame:global(.tutorial-2) {
  grid-column: 4 / span 6;
  grid-row: 10 / span 3;
}

.frame:global(.tutorial-3){
  grid-column: 4 / span 6;
  grid-row: 10 / span 2;
  z-index: 2;
}

.frame:global(.tutorial-4) {
  grid-column: 4 / span 6;
  grid-row: 10 / span 3;
  z-index: 2;
}

.frame:global(.tutorial-5) {
  grid-column: 5 / span 4;
  grid-row: 7 / span 3;
}

.frame:global(.tutorial-6) {
  grid-column: 4 / span 6;
  grid-row: 4 / span 3;
}

.frame:global(.next-stop-notes) {
  grid-column: 5 / span 4;
  grid-row: 4 / span 3;
}

@media (max-height: 720px) or (max-width: 810px) {
  .frame:global(.starting-notes) {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
  }

  .frame:global(.map) {
    grid-column: 1 / span 13;
    grid-row: 5 / span 6;
  }

  .frame:global(.slider) {
    grid-column: 1 / span 12;
    grid-row: 5 / span 4;
  }

  .frame:global(.item-1) {
    grid-column: 1 / span 12;
    grid-row: 2 / span 3;
  }

  .frame:global(.item-2) {
    grid-column: 1 / span 12;
    grid-row: 9 / span 3;
  }

  .frame:global(.timer) {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;

    min-height: calc(var(--pixel-size) * 24);
    height: calc(var(--pixel-size) * 24);
  }

  .frame:global(.round-finish),
  .frame:global(.game-finish),
  .frame:global(.game-start) {
    grid-column: 1 / span 13;
    grid-row: 1 / span 13;
  }

  .frame:global(.progress-bar) {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }

  .frame:global(.score-list) {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
  }

  .frame:global(.score-frame) {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
  }

  .frame:global(.logo) {
    grid-column: 2 / span 6;
    grid-row: 2 / span 6;
  }

  .frame:global(.tutorial-0) {
    grid-column: 1 / span 12;
    grid-row: 5 / span 3;
  }

  .frame:global(.tutorial-1) {
    grid-column: 1 / span 12;
    grid-row: 5 / span 4;
  }

  .frame:global(.tutorial-2) {
    grid-column: 1 / span 12;
    grid-row: 1 / span 4;
  }

  .frame:global(.tutorial-3) {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
  }
  
  .frame:global(.tutorial-4) {
    grid-column: 1 / span 12;
    grid-row: 9 / span 3;
  }

  .frame:global(.tutorial-5) {
    grid-column: 1 / span 12;
    grid-row: 9 / span 3;
  }

  .frame:global(.tutorial-6) {
    grid-column: 1 / span 12;
    grid-row: 9 / span 3;
  }

  .frame:global(.next-stop-notes) {
    grid-column: 5 / span 6;
    grid-row: 4 / span 3;
  }
}
